# Node.js dependencies
node_modules/
npm-debug.log
yarn-error.log
package-lock.json

# Local environment variables
.env

# Uploaded files (thumbnails, images, videos)
uploads/

# Logs & temp files
logs/
*.log
*.tmp

# OS-specific files
.DS_Store
Thumbs.db

# Editor settings
.vscode/
.idea/
*.swp
